/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Importing all components file */
@import url("components/banner.css");
@import url("components/cards.css");
@import url("components/footer.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
  color: rgb(196, 193, 193)
}

/* Custom design below! */
.main-container {
  display: flex;
  flex-direction: column;
}

.content-container h2 {
  text-align: center;
  font-size: 24px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px
}
