.banner {
  background-size: cover;
  background-position: center;
  height: 592px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.banner > .banner-inner-container {
  width: 900px;
  margin: 0 auto;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.banner-inner-container > h1 {
  font-size: 32px;
  margin: 0
}

.banner-inner-container > p {
  font-size: 20px;
  color: #B3B4B4
}

.banner-inner-container > a {
  background-color: #1EDD88;
  color: white;
  border-radius: 30px;
  padding: 16px 32px
}
