.card {
  min-width: 0;
  width: 200px;
  height: 280px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  padding: 16px;
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 14px
}

.card > img {
  /* width: 200px; */
  height: 130px;
  margin: 10px 0;
}

.card-title {
  margin: 16px 0 0 0
}

.card-text {
  color: #7F7F7F
}

@media(max-width: 900px) {
  .card {
    margin-bottom: 15px;
  }
}

@media(max-width: 500px) {
  .cards {
    justify-content: space-around;
  }
}
